/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/nbproject
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
composer.lock

/public/sirui-crm/node_modules/
/public/sirui-crm/dist/
/public/sirui-crm/npm-debug.log*
/public/sirui-crm/yarn-debug.log*
/public/sirui-crm/yarn-error.log*
/public/sirui-crm//config/

# Editor directories and files
/public/sirui-crm/.idea
/public/sirui-crm/.vscode
/public/sirui-crm/*.suo
/public/sirui-crm/*.ntvs*
/public/sirui-crm/*.njsproj
/public/sirui-crm/*.sln


